:root {
    /* primary colors */
    --sub-heading: hsl(276, 100%, 81%);
    --chat-on-the-left: hsl(276, 55%, 52%);
    --chat-on-the-right: hsl(271, 15%, 43%);
    --placeholder: hsl(206, 6%, 79%);
    --main-heading: hsl(271, 36%, 24%);
    --p: hsl(270, 7%, 64%);
    /* secondary colors */
    --app-background: hsl(270, 20%, 96%);
    --submit-button-background: hsl(271, 36%, 24%);
    --radio-button-outline: hsl(289, 100%, 72%);
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    padding: 130px;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

p {
    color: var(--p);
    line-height: 1.8rem;
}

h1 {
    color: var(--main-heading);
}

.left-background-gradient {
    z-index: -100;
    position:fixed;
    top:-10rem;
    left:-15rem;
    min-width: 49.5rem;
    min-height: 62rem;
    background: linear-gradient(to bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-bottom-left-radius: 25rem;
    border-bottom-right-radius: 25rem;
}

.right-background-gradient {
    z-index: -100;
    position:fixed;
    bottom:-10rem;
    right:-15rem;
    min-width: 49.5rem;
    min-height: 62rem;
    background-color: var(--app-background);
    border-top-left-radius: 25rem;
    border-top-right-radius: 25rem;
}

.phone {
    position: relative;
    background-color: white;
    max-width: 20rem;
    max-height: 40rem;
    padding: 15px;
    border-radius: 3rem;
    box-shadow: 1px 20px 40px 1px rgba(0, 0, 0, 0.1);
    margin-right: 80px;
}

.phone-dynamic {
    position: absolute;
    z-index: 10;
    top: 5px;
    left: 87.5px;
    height: 5%;
    width: 50%;
    background-color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}

.phone-display {
    overflow: hidden;
    width: 100%;
    height: 640px;
    border-radius: 2rem;
    background-color: var(--app-background);
}

.phone-display-header {
    width: 100%;
    height: 15%;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    box-shadow: 0px 0px 2px 0px;
    background: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    display: flex;
    align-items:center;
    justify-content: center;

}

/* .phone-display-header:hover {
    background: linear-gradient(to left, hsla(293, 100%, 63%, 0.801), hsla(264, 100%, 61%, 0.801));
} */

.metamask {
    margin-right:auto;
    width: 80px;
    height: 60px;
}

h3 {
    margin-right: 91px;
    font-weight: 500;
    color: var(--app-background)
}

.phone-display-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 85%;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.phone-display-body-messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    overflow: auto;
    margin-top: 1px;
    margin-bottom: 25px;
}

.phone-display-body-messages-incoming {
    font-size: 16px;
    width: fit-content;
    max-width: 60%;
    max-height: fit-content;
    background-color: hsl(295, 47%, 90%);
    margin-left: 15px;
    margin-right: auto;
    margin-bottom: 15px;
    padding: 15px 20px 15px 15px;
    border-radius: 1rem;
    border-bottom-left-radius: 5px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

.phone-display-body-messages-incoming:first-child {
    margin-top: 20px;
}

.phone-display-body-messages-incoming p {
    margin: 0;
    color: var(--chat-on-the-left);
    line-height: 25px;
}

.phone-display-body-messages-outgoing {
    font-size: 16px;
    width: fit-content;
    max-width: 60%;
    max-height: fit-content;
    background-color: white;
    margin-top: 15px;
    margin-left: auto;
    margin-right: 15px;
    padding: 15px;
    border-radius: 1rem;
    border-bottom-right-radius: 5px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

.phone-display-body-messages-outgoing p {
    
    margin: 0px;
    color: var(--chat-on-the-right);
    line-height: 25px;
}

.phone-display-body-inputs {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0 15px 0;
    border: none;
    outline: none;
    width: 100%;
    height: 10%;
}

.phone-display-body-input {
    padding-left: 15px;
    border-radius: 2rem;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin: 0px 15px 0px 15px;
    padding: 0 0 0 35px;
}

.phone-display-body-input-enter {
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    right: 25px;
    width: 43.5px;
    height: 80%;
    background-color: var(--main-heading);
    cursor: pointer;
}

.right-box {
    margin-left: 80px;
    max-height: 39rem;
    max-width: 30rem;
}

